html, body {
    height:100%;
}

nav {
    background-color: rgb(25, 245, 25);
    display: flex;
    justify-content: space-around;
    padding: 25px;
    background-image: url("./circuit-pattern.png");
}

h1 {
    font-family: 'SEGA LOGO FONT', sans-serif;
                                                
}

.main {
    background-image: url("./circuit-pattern.png");
    background-color: purple;
    height: 100%;
}